
/*

   #first {
        display: none; 
    }
    
    #loop {
        display: block;
    }
*/

.main {
	width: 100%;
	height: 100%;
	margin: 0 auto;
	position: relative;
}

.introanimation {
    margin-left: auto;
    margin-right: auto;
    padding-top: 4%;
    z-index: 999;
    background-color: white;

}

#loop {
        display: none;
    }


body {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 250px;
}

/*
#logo img {
    width: 40px; 
    position: absolute; 
    left: 30px; 
    top: 30px; 
}
*/

.work_container {
	padding: 190px 0px 40px 0px;
    margin: 0; 
    margin-right: 0;
    padding-right: 0;
	height: auto;
	position: relative;
    width: 100%;
    z-index: 3;
    background-color: white;
}


.work_container:after {
  content: "";
  display: block;
  position: absolute;
  bottom: -5px;
  width: 100%;
  height: 55px;
  background: linear-gradient( 45deg, #b34d49 50%, transparent 50%) 0 0,
              linear-gradient(-45deg, #b34d49 50%, transparent 50%) 0 0;
  background-size: 100px 100px;
}

.teaser_item {
	width: calc(33.33% - 44px);
	margin: 0 22px 44px 22px;
	height: auto;
	float: left;
	position: relative;
    z-index: 2;
}


.teaser_item img {
	max-width: 100%;
    margin: 0; 
    padding: 0;
	width: auto;
    position: relative; 
    z-index: 3;
}

.hover:hover {
    opacity: 10%;
}

.teaser_item:hover {
    background-color: whitesmoke;
}

/*
header ul li a:hover {
	border-bottom: 5px solid #b34d49;
}
*/


.contact_container {
	position: fixed !important;
	z-index:-1;
	height: 500 px;
    width: 100%;
    background-color: #b34d49;
    left:0; 
	bottom:0; 
	margin:0; 
	padding:0;
}

.contact_container ul {
    position: relative;
    display: block; 
    margin: auto;
    padding: 0;
}

.contact_container ul li {
    display: inline-block; 
    text-decoration: none; 
    padding: 0 10px 0 10px; 
    margin: 0; 
}

.contact_container ul img {
    width: 30px;
    height: auto;
}

