html,body {
    background: url(img/bg-orig.jpg) no-repeat center -80px fixed;
/*    font-family: 'Helvetica Neue', 'Helvetica Neue', sans-serif;*/
    font-family: 'Roboto', sans-serif;

}


.navbar {
/*
    background-image: url("img/header.png");
    position: fixed;  Set the navbar to fixed position 
    font-family: 'Helvetica Neue', 'Helvetica Neue', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
*/
    position: fixed; 
    display: inline;
    margin-top: 18px;
}

/*
#name{
    text-shadow: 4px 4px 4px #aaa;
    font-size: 25px;
    display: inline;
}
*/

.header {
/*    background-image: url("img/header.png");*/
/*    margin-top: 50px;*/
}

.verticalLine {
  border-left: thick solid #000000;
    margin-top: 0;
    margin-bottom: 0;
}

ul li{
  display: inline;
}

#wrap {
   width:100%;
   margin: 0 auto;
}
#left_col {
   float:left;
   width:30%;
    position: fixed;

}
#right_col {
   float:right;
   width:70%;
    

}

#about {
    text-align: center;
/*    padding-left: 40px;*/
}



