@font-face {
    font-family: Didot; 
    src: url('fonts/Didot.ttf')
}

.biganimation {
    width: 100%;
}

.me img {
    position: absolute;
    left: 10%;
    width: 25%;
    z-index: 55;
}
.about {
    position: relative;
    display: block;
    width: 100%; 
    margin-left: 28%;
    background-color: white; 
  flex-direction: column;
  justify-content: center;
}

.about h1 {
    font-family: 'Didot'; 
    font-size: 3em; 
    font-weight: 200; 
    text-align: left; 
    margin-left: 9%;
    margin-top: 8%;
    border-bottom: 7px solid #b34d49;
}

.about p {
    font-family: 'Roboto'; 
    font-size: 1.1em; 
    text-align: left;
    font-weight: 300;
    margin: 0 0 0 9%;
    line-height: 25px;
    line-height: 1.3em;
    width: 55%;
}


.about:after {
  content: "";
  display: block;
  position: absolute;
  bottom: -15px;
  width: 100%;
  height: 50px;
  background: linear-gradient( 45deg, #b34d49 50%, transparent 50%) 0 0,
              linear-gradient(-45deg, #b34d49 50%, transparent 50%) 0 0;
  background-size: 100px 100px;
/*  margin-bottom: -11%;*/
/*    bottom: -27%;*/
    margin-bottom: -11vh;
margin-left: -28%;
}

#music h1 {
    font-family: 'Roboto'; 
    font-size: 2em; 
    font-weight: 200; 
    text-align: center; 
    margin-left: 9%;
    margin-top: 5%;
    width: 30%;
}

#music p {
    font-family: 'Lato Light', sans-serif; 
    font-size: 1em; 
    text-align: center; 
    margin: 0 0 0 9%;
    line-height: 25px;
    line-height: 1.3em;
    width: 30%;
}

iframe {
    margin-left: -52.5%;
}
audio::-internal-media-controls-download-button {
    display:none;
}

audio::-webkit-media-controls-enclosure {
    overflow:hidden;
}

audio::-webkit-media-controls-panel {
    width: calc(100% + 30px);
}
#col2 {
    margin-left: 52%;
    margin-top: -42.25%;
    width: 100%;
}

#currentMusic {
      font-family: 'Roboto'; 
    font-size: 20; 
    font-weight: 200; 
    text-align: left; 
    margin-left: 9%;
    margin-top: 10%;
    width: 83%;
    color: #b34d49;
    border-bottom: 10px solid #b34d49;
}
#currentMusic li {
    list-style: cjk-ideographic;
}


#logo img {
    width: 40px; 
    position: absolute; 
    left: 30px; 
    top: 30px; 
}

.animation {
    vertical-align: middle; 
    position: absolute; 
    padding: 6% 12% 0 12%;
}

.animation img {
    margin-left: auto; 
    margin-right: auto;
width: 75vw;
height: 75vh;
}

#loop {
    display: none;
}

h7 {
    font-size: 3em; 
    font-family: 'Lato';
    letter-spacing: 3px; 
    text-align: center; 
    font-weight: 300;
    margin: 5px; 
    
}

p {
    font-size: 2em; 
    font-family: 'Lato Light'; 
    display: block;
    margin: 10%; 
    line-height: 20px; 
}


html {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  position: relative;
}

a,
a:link,
a:visited,
a:active {
	text-decoration: none;
	color: #b34d49;
}

.active {
	border-bottom: 1px solid #000;
}

body {
	padding: 0;
	text-align: center;
	margin: 0;
	width: 100%;
	height: 100%;
	position:relative;
}

#body {
	width: 100%;
	min-height: 100%;
	height: auto;
	position: relative;
	background: rgba(30,30,30,1.00);
	z-index: 999999;
    margin: 0;
    padding: 0;
	margin-bottom: 400px;
}


.active {
  left: 0 !important; }

header ul li a:link,
header ul li a:visited,
header ul li a:active {
	color: #000;
	text-decoration: none;
}

header ul li a:hover {
	border-bottom: 5px solid #b34d49;
}

.navi_fade {
	display: none;
}

.navigation {
    display: block;
    position: absolute;
	font-family: 'Roboto';
    text-transform: uppercase;
	font-size: 3vh;
	text-align: right;
	color: #000;
	letter-spacing: 1.8px;
	z-index: 66666;
    right: 3%;
    top: 25vh; 
}

.navigation ul {
    list-style: none;
    line-height: 8vh;
}

.navigation a {
    color: #000;
    text-decoration: none;}
.navigation a:hover {
    color: #b34d49;
    text-decoration: none;}

.work_container {
	padding: 150px 0px 0px 0px;
    margin: 0;
    margin-right: 0;
    padding-right: 0;
    padding-bottom: 0;
	height: auto;
	position: relative;
    width: 100%;
    z-index: 3;
    background-color: white;
}


/*
.work_container:after {
  content: "";
  display: block;
  position: absolute;
  margin-bottom: calc(-80vh);
    bottom: -20vh;
  width: 100%;
  height: 20vh;
  background: linear-gradient( 45deg, #b34d49 50%, transparent 50%) 0 0,
              linear-gradient(-45deg, #b34d49 50%, transparent 50%) 0 0;
  background-size: 20vh 20vh;
    
    
}
*/

.work_container:after {
  content: "";
  display: block;
  position: absolute;
  bottom: -15px;
  width: 100%;
  height: 55px;
  background: linear-gradient( 45deg, #b34d49 50%, transparent 50%) 0 0,
              linear-gradient(-45deg, #b34d49 50%, transparent 50%) 0 0;
  background-size: 100px 100px;
    margin-bottom: -550px;
}

.teaser_item {
	width: calc(33.33% - 44px);
	margin: 0 22px 0 22px;
	height: auto;
	float: left;
	position: relative;
    z-index: 2;
}


.teaser_item img {
	max-width: 100%;
    margin: 0;
    padding: 0;
	width: auto;
    position: relative;
    z-index: 3;
}

.hover:hover {
    opacity: 10%;
}

.teaser_item:hover {
    background-color: whitesmoke;
}

.teaser_item {
	width: calc(33.33% - 44px);
	margin: 0 22px 44px 22px;
	height: auto;
	float: left;
	position: relative;
    z-index: -1;
}


.teaser_item img {
	max-width:100%;
    margin: 0; 
    padding: 0;
	width: auto;
    position: relative; 
    z-index: 3;
}

.hover:hover {
    opacity: 50%;
}

.teaser_item:hover {
    background-color: whitesmoke;
}


.text {
    position: absolute; 
    top: 40%;
    left: 0; 
    width: 100%;
    text-align: center; 
    z-index: 2;
    padding: 0; 
    margin: 0;
    font-size: 1vh;
}

.text h1 {
    font-family: 'Lato'; 
    font-size: 1.8em;
    font-weight: 300; 
    padding-bottom: 0;
    margin-bottom: 0;
    padding: 0; 
    margin: 0; 
}

.text p {
    font-family: 'Roboto', sans-serif; 
    font-size: vw; 
    text-transform: uppercase; 
    letter-spacing: 1.2px;
    padding-top: 0.5vh;
    margin-top: 0;
    padding: 0; 
    margin: 0; 
}

.main {
	width: 100%;
	height: 100%;
	margin: 0 auto;
	position: relative;
}

.contact_container {
	position: fixed !important;
	z-index:-1;
    width: 100%;
    height: 100vh;
    background-color: #b34d49;
    left:0;right:0;
	bottom:0;
	margin:0;
	padding:0;
    text-align: center;
/*    top:20%;*/
    top: 37vh;
}

.contact_container img {
    margin-top: 7vh;
height: 20vh;
/*    margin-bottom: 0vh;*/
/*    padding-top: 2vh;*/
}

.contact_container ul {
    position: relative;
    display: block;
    margin: 0;
    bottom: 0.5vh;
    list-style: none;
    text-align: center;
}

.contact_container ul li {
    display: inline-block;
    padding: 0 20px 0 20px;
}

.contact_container ul img {
    width: 5vh;
    height: auto;
}

.contact_container h1 {
    font-family: 'Roboto'; 
    font-size: 6vh; 
    font-weight: 200; 
    text-align: center; 
/*    margin-bottom: 2vh;*/
}

.contact_container p {
    font-family: 'Roboto'; 
    font-size: 2.7vh; 
    text-align: center; 
    font-weight: 300;
    margin: auto; 
    width: 100%;
    line-height: 20px;
/*    margin-bottom: 16vh;*/
}


.contact_container h4 {
	position: fixed;
	font-family: 'Lato';
    text-transform: uppercase;
	font-size: 3em;
	color: #000;
	letter-spacing: 1.2px;   
    text-align: center;
     width: 100%;
/*    padding-top: 5vh;*/
/*    margin-top: */
    line-height: 20px;
/*    padding-bottom: 2vh;*/
    margin-bottom: 2vh;
}
