
element.style {
    visibility: visible;
    animation-name: fadeInUp;
}

/*

   #first {
        display: none; 
    }
    
    #loop {
        display: block;
    }
*/

body {
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.introanimation {
    margin: auto;
    padding-top: 3%;
    position: absolute;
    visibility: visible;
    display: none;
    vertical-align: middle;
}

.introanimation img {
    margin-left: auto; 
    margin-right: auto;
    height: 100%;
}

.animation img {
    margin-left: auto; 
    margin-right: auto;
    height: 100%;
}

.animation {
    display: block;
    vertical-align: middle;
    margin: auto;
    padding-top: 3%;
    position: relative;
   
}

.work_container {
	padding: 190px 0px 0px 0px;
    margin: 0; 
    margin-right: 0;
    padding-right: 0;
	height: auto;
	position: relative;
    width: 100%;
    z-index: 3;
}

.teaser_item {
	width: calc(33.33% - 44px);
	margin: 0 22px 44px 22px;
	height: auto;
	float: left;
	position: relative;
    z-index: -1;
}


.teaser_item img {
	max-width:100%;
    margin: 0; 
    padding: 0;
	width: auto;
    position: relative; 
    z-index: 3;
}

.hover:hover {
    opacity: 0;
}

.teaser_item:hover {
    background-color: whitesmoke;
}
