@import url("../styleConstants.css");
.navigation {

    text-transform: uppercase;
    font-size: 0.9em;
    color: #000;
    letter-spacing: 1.8px;
    z-index: 100;
        background-color: black;
}

.navigation ul {
    list-style: none;
    line-height: 3;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
}

.navigation li {
    display: inline-block;
    text-align: center;
    flex: 1 1 auto;
        min-width: 150px;
}
.navigation a, .navigation div {
    color: white;
    text-decoration: none;
    font-weight: 700;
}

.navigation a:hover,
.navigation div:hover {
    color: var(--brand-color);
    text-decoration: none;}